.env
.pdf*.pdf
.venv/
.Python
__pycache__/
*.py[cod]
*$py.class
build/
dist/
pip-wheel-metadata/
*.egg-info/
.eggs/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.cache/
.coverage
htmlcov/
*.log
*.sqlite3
summaries/
wissenv